body {
	margin: 0;
	
}

.croja{
	background-color:#FF0000;
	height: 200px;
	width:200px;
	position: static;

}


.cmorada{
	background:#483D8B;
	height: 100px;
	width: 100px;
	top:40px;
	position:relative;
	left: 40px;



}

.camarilla{
	background:#FFFF00;
	height: 40px;
	width: 40px;
	top:0px;
	position:absolute;
	left:0px;
	